/* CSS Document */
/*公共属性*/
*{ margin:0; padding:0; font:"宋体";}
h1,h2,h3,h4,h5,h6,input{font-size:12px;}
html, body { height:100%;text-align:center;font:normal 12px "宋体", Verdana, Arial, Helvetica, sans-serif;}
a:link, a:visited { text-decoration:none; color:#000;}
a:hover, a:active { text-decoration:underline; color:#06C;}
ul,ol,li{list-style:none;}
img{ border:none;}
.left{float: left;}
.right{float: right;}
.hidden{display: none;}
.unline,.unline a{text-decoration: none;}
.noborder{border:none;}
.nobg{background:none;}
.clear{clear:both;margin:0 auto}
.b{font-weight:bold;}
.normal{font-weight:normal;}
.del{text-decoration:line-through;}
.ohidden{overflow:hidden;}


/*背景*/
.bg_blank{background-color:#000;}
.bg_white{background-color:#fff;}
.bg_h_1{background-color:#EEE;}
.bg_h_2{background-color:#F2F2F2;}
.bg_h_3{background-color:#F2F2F2;}
.bg_h_4{background-color:#FAFAFA;}
.bg_orange{background-color:#f14400;}
.bg_blue_1{background-color:#f6fbff;}
.bg6{background:url(bg6.gif) repeat-x;}
.bg_4{background:url(bg_4.gif) repeat-x;}

/*字体大小*/
.t10{font-size:10px;line-height:150%;}
.t12{font-size:12px;line-height:150%;}
.t14{font-size:14px;line-height:150%;}
.t14_0{font-size:14px;}
.t14all *{font-size:14px;line-height:150%;}
.t16{font-size:16px;line-height:150%;}
.t18{font-size:18px;line-height:150%;}
.t20{font-size:20px;line-height:150%;}
.t24{font-size:24px;line-height:200%;}

/*字体位置*/
.tleft{text-align:left;}
.tright{text-align:right;}
.tcenter{text-align:center;}

/* 字体颜色 */
.tgreen{color:green;}
.tred{color:#FF0000;}
.tblue{color:#03F;}
.tblue1{color:#036;}
.tgray{color:#999;}
.tblack{color:#000;}
.torange{color:#F60;}
.torange1{color:#f14400;}

/*线*/
.line_1{border:1px solid #DDD;}
.line_1_top{border-top:1px solid #DDD;}
.line_1_left{border-left:1px solid #DDD;}
.line_1_right{border-right:1px solid #DDD;}
.line_1_bottom{border-bottom:1px solid #DDD;}
.line_2{border:1px solid #DDD;}
.line_2_top{border-top:1px dashed #DDD;}
.line_2_left{border-left:1px dashed #DDD;}
.line_2_right{border-right:1px dashed #DDD;}
.line_2_bottom{border-bottom:1px dashed #DDD;}
.line_3{border:1px solid #a8ccee;}
.line_3_top{border-top:1px solid #a8ccee;}
.line_3_left{border-left:1px solid #a8ccee;}
.line_3_right{border-right:1px solid #a8ccee;}
.line_3_bottom{border-bottom:1px solid #a8ccee;}
.line_4{border:1px solid #F33;}
.line_4_top{border-top:1px solid #F33;}
.line_4_left{border-left:1px solid #F33;}
.line_4_right{border-right:1px solid #F33;}
.line_4_bottom{border-bottom:1px solid #F33;}

/*链接样式*/
a.orange:hover, a.orange:active, a.orange:link, a.orange:visited {color:#ff4800;}
a.orange_1:hover, a.orange_1:active, a.orange_1:link, a.orange_1:visited {color:#cc3d17;}
a.red:hover, a.red:active, a.red:link, a.red:visited {color:#f00;}
a.white:hover, a.white:active, a.white:link, a.white:visited {color:#fff;}
a.green:hover, a.green:active, a.green:link, a.green:visited {color:#090;}
a.green_1:hover, a.green_1:active, a.green_1:link, a.green_1:visited {color:#360;}
a.gray:hover, a.gray:active, a.gray:link, a.gray:visited {color:#999;}
a.gray_1:hover, a.gray_1:active, a.gray_1:link, a.gray_1:visited {color:#555555;}
a.blue:hover, a.blue:active, a.blue:link, a.blue:visited {color:#3366cc;}

/* 万能闭合  给需要闭合的div加上 class="clearfix"  */
/* Clear Fix */
.clearfix:after { content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
/* end of clearfix */

/*日期样式*/
.date{ color:#ccc; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin-right:8px;}

/*按钮样式*/
.button0{padding:3px 10px;}
.button1{padding:15px 8px; font-weight:bolder; float:left}
.button2{text-align:center;background:url(button2.gif) no-repeat;height:22px;line-height:22px;width:56px;border:0;color:#FFF;}
.button3{display:block;margin:0 auto;text-align:center;background:url(button1.gif) no-repeat;height:20px;line-height:20px;width:76px;border:0;}
.button3_1{display:block;margin:0 auto 10px;text-align:center;background:url(button3.gif) no-repeat;height:28px;line-height:28px;width:113px;border:0;}
.button4{display:block;text-align:center;background:url(bg11.gif) repeat-x;height:33px;line-height:33px;width:132px;border:1px solid #DDD;font-weight:bolder;}
.button4:hover{text-decoration:none;background:#900;color:#FFF;}
.button5{padding:3px 10px; margin-left:13px; float:left;}
.button6{padding:3px 10px; margin-right:18px; float:left;}
.button7{padding:3px 10px; margin-left:18px; float:left;}
.button8{text-align:center;background:url(but3.gif);height:26px;line-height:26px;width:75px;border:0;color:#000000; display:block;}



/* 标题条样式 */
.tit_1{background:url(tit_1.jpg) no-repeat; width:290px; height:36px; line-height:36px; color:#FFF;}
.tit_2{background:url(tit_2.jpg) no-repeat; width:250px; padding-left:40px; height:36px; line-height:36px; color:#FFF;}
.tit_2 span{display:block;float:right;font-weight:normal;font-size:12px;margin-right:15px;height:36px;line-height:36px;}
.tit_3{background:url(bg_1.gif) repeat-x; height:33px; line-height:33px;}
.tit_3 span{display:block;float:right;font-weight:normal;font-size:12px;height:30px;line-height:33px; margin-right:10px;}
.tit_4{background:url(tit_4.gif) repeat-x; height:35px; line-height:35px; padding:0 30px;}
.tit_4 span{display:block;float:right;font-weight:normal;font-size:12px;height:30px;line-height:33px;}
.tit_5{background:url(bg_1.gif) repeat-x;}
.tit_6{text-align:center; border-bottom:1px solid #DDD; border-top:1px solid #DDD; background:#FAFAFA; height:30px; line-height:30px;}
.tit_7{background:url(tit_7.gif); height:36px; line-height:36px; float:left; padding:0 18px;}
.tit_8{border-bottom:1px solid #DDD; border-top:1px solid #DDD; background:#FAFAFA; height:30px; line-height:30px; padding-left:20px;}
.tit_9{ background:url(tit_9.gif); height:33px; line-height:33px; display:block;float:left; border:1px #DDD solid; border-bottom:0;}
.tit_10{background:url(bg_2.gif); height:27px; line-height:27px;border-bottom:1px solid #83b8ed; padding-left:20px;}
.tit_4hydh{background:url(tit_4hydh.gif) repeat-x; height:35px; line-height:35px; padding:0 30px;}

.tit_11{background:url(tit_11.gif); height:44px; line-height:44px; padding-left:30px; text-align:left !important; font-size:14px; font-weight:bold;}
.tit_11_pic{width:275px; height:150px; overflow:hidden; float:left; margin-right:15px; font-size:12px; border:1px solid #DDDDDD; padding:10px;}
.tit_11_pic img{width:275px;height:150px;}


/* 列表样式 */
.mslist1 li{background:url(po_1.gif) no-repeat center left;height:25px;line-height:25px; padding-left:20px; border-bottom:1px dashed #DDD;}
.mslist1 li span{float:right; height:25px; line-height:25px;}
.mslist2 li{ width:130px; float:left; height:130px; overflow:hidden; text-align:center; margin-top:10px;}
.mslist2 li img {width:110px; height:90px; margin-bottom:10px;}
.mslist2 li span{float:right; height:20px; line-height:20px;}
.mslist3 li{background:url(po_1.gif) no-repeat center left;padding:2px 0 3px 10px; margin:3px 0 3px 20px; border-bottom:1px dashed #DDD;}
.mslist3 li span{float:right;}

.mslist4 li{ width:171px; float:left; height:93px; overflow:hidden; text-align:center; padding:10px 0 0 17px}
.mslist4 li img {width:171px; height:83px; margin-bottom:10px;}
.mslist4 li span{float:right; height:20px; line-height:20px;}

.mslist5 li{ width:190px; float:left; height:93px; overflow:hidden; text-align:center; padding:10px 0 0 17px}
.mslist5 li img {width:190px; height:83px; margin-bottom:10px;}
.mslist5 li span{float:right; height:20px; line-height:20px;}

.mslist6 li{ width:190px; float:left; height:175px; overflow:hidden; text-align:center; padding:10px; border:1px solid #DDDDDD; margin:0 10px 10px 0;}
.mslist6 li img {width:190px; height:140px; margin-bottom:10px;}
.mslist6 li span{float:right; height:20px; line-height:20px;}

/* */

/* 距离 */
.m_l_10{margin-left:10px;}
.m_r_10{margin-right:10px;}
.m_t_10{margin-top:10px;}
.m_b_10{margin-bottom:10px;}
.m_10{margin:10px;}
.p_l_10{padding-left:10px;}
.p_r_10{padding-right:10px;}
.p_t_10{padding-top:10px;}
.p_b_10{padding-bottom:10px;}
.p_10{padding:10px;}
.p_5{padding:5px;}

/* 方框样式 */
.kuang1{border:1px solid #90c9ea;margin:0 auto;}
.kuang1_t1{padding:5px;background:#fafafa;}
.kuang1_c1{padding:5px;}
.kuang2{border:1px solid #DDDDDD;padding:5px;margin-right:10px;}

/* 翻页条样式  */
.pagestyle1 {clear:both;text-align:center;margin:3px;padding:3px;font-weight:normal;}
.pagestyle1 A{color:#fff;margin:0 1px;border:#2c2c2c 1px solid;padding:3px 10px 2px;background: url(image1.gif) #2c2c2c;text-decoration:none; }
.pagestyle1 A:hover, .pagestyle1 A:active {color:#fff;border:#008cef 1px solid;background: url(image2.gif) #008cef;}
.pagestyle1 A:visited{color:#FFF;}
.pagestyle1 SPAN.current {display:inline;width:auto;height:auto;color:#fff;border:#008cef 1px solid;padding:3px 10px 2px;background: url(image2.gif) #008cef;}
.pagestyle1 SPAN.disabled {display:inline;width:auto;height:auto;color:#ccc;margin:0 1px;border:#f3f3f3 1px solid;padding:3px 10px 2px;}

/* DIV切换标签 标题 */
.messtop_title{height:30px; border-bottom:1px solid #d1d1d1; background:url(bg_1.gif) repeat-x; overflow:hidden;}
.messtop_title ul{list-style:none; *position:absolute;overflow:hidden;}
.messtop_title ul li {float:left; height:30px; line-height:30px;}
.messtop_title ul li a{border-right:1px solid #e9e9e9;display:block;text-decoration:none;width:128px; text-align:center; color:#333;}
.messtop_title ul li a:hover,.messtop_title ul li a.messtop_over1 { background:url(bg_2.gif) repeat-x; height:31px; color:#F60; font-weight:bolder; border-bottom:#FFF; font-size:14px;}

/* DIV切换标签 内容 */
.messtop_content {padding:5px; overflow:hidden;}
.messtop_content img{margin-right:5px; margin-bottom:5px;}
.messtop_content div{display:none; overflow:hidden}
.messtop_content li{margin:2px 0 2px -10px;}
.messtop_content li span{float:right;}
.messtop_content1{width:328px; height:172px; padding:5px; overflow:hidden; border:1px solid #D1D1D1;}

/* 表格样式 */
.table1{width:100%; text-align:left; margin-bottom:10px;}
.table1 td{font-size:12px;line-height:25px; padding:1px; border-bottom:1px dashed #CCC;}
.table1 div{text-align:center;}

.table2{width:100%; text-align:left; border-collapse:collapse; margin-bottom:10px;}
.table2 td{line-height:25px; padding:0px 2px; border:1px solid #DDD;}

.table3{text-align:left; border-collapse:collapse; margin:5px;}
.table3 td{line-height:25px; padding:0px 2px; border:1px solid #DDD;}

.table4{width:100%;text-align:left; border-collapse:collapse; margin:5px;}
.table4 td{line-height:25px; padding:0px 2px; }

.table5{width:100%; text-align:left; border-collapse:collapse; margin-bottom:10px;}
.table5 td{padding:5px 10px; border:1px solid #DDD; line-height:200%}

.table6{width:100%; text-align:left;}
.table6 td{font-size:12px; height:22px;line-height:22px; padding:1px; border-bottom:1px dashed #CCC;}

.table7{width:100%; text-align:left; margin-bottom:10px;}
.table7 td{ border-bottom:1px dashed #CCC;}

.table8{width:100%; text-align:left; margin-bottom:10px;}
.table8 td{font-size:12px;line-height:30px; padding:5px; }
.table8 div{text-align:center;}

