
.modal_hidden{display: none;}
.map{text-align:center;}
.map>p {position: absolute;float: left;text-align: center;}
/*为每一个区县进行定位*/
.map>.bincheng {top: 149px;left: 147px;}
.map>.kaifa {top: 164px;left: 117px;}
.map>.gaoxin {top: 170px;left: 170px;}
.map>.zhanhua {top: 95px;left: 156px;}
.map>.beihai {top: 22px;left: 115px;}
.map>.wudi {top: 61px;left: 104px;}
.map>.yangxin {top: 122px;left: 59px;}
.map>.huimin {top: 171px;left: 67px;}
.map>.zouping {top: 201px;left: 186px;}
.map>.boxing {top: 248px;left: 88px;}
/*设置区县名称样式*/
.map>p>a {font-size:12px;color:black;font-family: sans-serif;}
/*设置鼠标悬停时，名称的样式*/
.map>p>a:hover {cursor: pointer;text-decoration: none;font-size: 14px;color: red;}
/*地图展示模态框样式设置*/
#mapModal {width: 300px;height: 180px;background: white;position: absolute;top: 20px;}
#mapModal>div>.modal-content {width: 300px;}
#mapModal>div>.modal-body {height: 118px;}
#mapModal>div>.modal-footer{padding-top: 10px;padding-bottom: 0px;}