@import url("base.css");
/* 头部  */
#top {width:1000px;margin:0 auto;text-align:left;overflow:hidden;background:#FFF;padding-bottom:10px;}
#top_1 {background:url(bg_1.gif) repeat-x;height:30px;border-bottom:1px solid #DDD;padding:0 10px;overflow:hidden;}
#top_1_clock {background:url(top_clock.gif) no-repeat;float:left;padding-left:30px;padding-top:10px;height:33px;}
#top_1_1 {padding-top:10px;}
#logo {height:90px;width:327px;float:left;margin:5px;}
#top_2 {float:right;background:url(top_2.jpg);width:641px;height:90px;margin:5px;}
/* 网站主菜单*/
#main_menu {width:1000px;clear:both;}
#main_menu_title {height:42px;width:1000px;overflow:hidden;background:url(bg9.gif) repeat-x;font-size:16px;font-weight:bold;z-index:99;}
#main_menu_title ul {list-style:none;*position:absolute;width:1000px;}
#main_menu_title ul li {float:left;height:42px;line-height:42px;}
#main_menu_title ul li a {display:block;text-decoration:none;}
#main_menu_title_0 {width:0}
#main_menu_title_0 a {width:0}
#main_menu_title_1 a {width:96px;background:url(top_menu1_01.jpg);}
#main_menu_title_1 a:hover {background:url(top_menu2_01.jpg);}
#main_menu_title_1 a.messtop_over {background:url(top_menu2_01.jpg);}
#main_menu_title_2 a {width:84px;background:url(top_menu1_02.jpg);}
#main_menu_title_2 a:hover {background:url(top_menu2_02.jpg);}
#main_menu_title_2 a.messtop_over {background:url(top_menu2_02.jpg);}
#main_menu_title_3 a {width:88px;background:url(top_menu1_03.jpg);}
#main_menu_title_3 a:hover {background:url(top_menu2_03.jpg);}
#main_menu_title_3 a.messtop_over {background:url(top_menu2_03.jpg);}
#main_menu_title_4 a {width:84px;background:url(top_menu1_04.jpg);}
#main_menu_title_4 a:hover {background:url(top_menu2_04.jpg);}
#main_menu_title_4 a.messtop_over {background:url(top_menu2_04.jpg);}
#main_menu_title_5 a {width:88px;background:url(top_menu1_05.jpg);}
#main_menu_title_5 a:hover {background:url(top_menu2_05.jpg);}
#main_menu_title_5 a.messtop_over {background:url(top_menu2_05.jpg);}
#main_menu_title_6 a {width:97px;background:url(top_menu1_06.jpg);}
#main_menu_title_6 a:hover {background:url(top_menu2_06.jpg);}
#main_menu_title_6 a.messtop_over {background:url(top_menu2_06.jpg);}
#main_menu_title_7 a {width:88px;background:url(top_menu1_07.jpg);}
#main_menu_title_7 a:hover {background:url(top_menu2_07.jpg);}
#main_menu_title_7 a.messtop_over {background:url(top_menu2_07.jpg);}
#main_menu_title_8 a {width:87px;background:url(top_menu1_08.jpg);}
#main_menu_title_8 a:hover {background:url(top_menu2_08.jpg);}
#main_menu_title_8 a.messtop_over {background:url(top_menu2_08.jpg);}
#main_menu_title_9 a {width:86px;background:url(top_menu1_09.jpg);}
#main_menu_title_9 a:hover {background:url(top_menu2_09.jpg);}
#main_menu_title_9 a.messtop_over {background:url(top_menu2_09.jpg);}
#main_menu_title_10 a {width:84px;background:url(top_menu1_10.jpg);}
#main_menu_title_10 a:hover {background:url(top_menu2_10.jpg);}
#main_menu_title_10 a.messtop_over {background:url(top_menu2_10.jpg);}
#main_menu_title_11 a {width:118px;background:url(top_menu1_11.jpg);}
#main_menu_title_11 a:hover {background:url(top_menu2_11.jpg);}
#main_menu_title_11 a.messtop_over {background:url(top_menu2_11.jpg);}
#main_menu_content {width:1000px;z-index:1000;position:absolute;overflow:hidden;}
#main_menu_content div {display:none;height:30px;}
#main_menu_content li span {floawt:right;margin-right:10px;}
.main_menu_content_1 {padding-top:10px;filter:alpha(opacity=90);background:#FAFAFA;}
.main_menu_content_1 span {display:block;width:90px;float:left;}
.main_menu_content_1 span h1 {padding-bottom:5px;margin-bottom:10px;text-indent:1em;border-bottom:1px solid #FAFAFA;}
.main_menu_content_1 span ul {width:90px;margin-left:5px;height:170px;float:left;overflow:auto;display:none}
/* 中间部分 */
#main {width:1000px;background:#FFF;margin:0 auto;overflow:hidden;text-align:left;}
.main {width:980px;overflow:hidden;margin:0 10px 10px 10px;}
/* 首页 */
#index_1 {height:478px;}
#index_1_l {float:left;width:680px;}
#index_1_l_gonggao {background:url(index_gonggao.jpg) no-repeat;width:660px;height:237px;padding-right:20px;overflow:hidden;}
#index_1_l_gonggao_more {text-align:right;height:58px;cursor:pointer;}
#index_1_l_news {width:680px;height:240px;overflow:hidden;border-bottom:1px solid #ddd;}
#index_1_l_news_1 {width:268px;height:220px;border-left:1px solid #DDD;border-right:1px solid #DDD;float:left;padding:10px;}
#index_1_l_news_2 {width:389px;height:240px;border-right:1px solid #DDD;float:right}
#index_1_r {float:right;width:290px;height:477px;border-bottom:1px solid #DDD;}
.index_1_r {width:288px;border-left:1px solid #DDD;border-right:1px solid #DDD;padding-bottom:10px;overflow:hidden;}
#index_1_r_1 {height:150px;}
#messtop_tit2 {background:url(tit_3.jpg) no-repeat;width:290px;height:36px;overflow:hidden;}
#messtop_tit2 li a {width:140px;background:none;border:0;font-size:14px;color:#FFF;line-height:40px;}
#messtop_tit2 li a:hover {text-decoration:underline;}
#index_1_r_2 {height:107px;text-align:center}
#index_1_r_3 {height:190px;margin-bottom:0px;font-weight:bolder;overflow:hidden;}
#index_1_r_3 li {line-height:28px;font-weight:normal;float:left;width:160px !important;}
#index_1_r_3_1 {margin:10px 8px 0;float:left;text-align:center;padding-right:8px;border-right:1px dashed #DDD;}
#index_1_r_3_1 img {width:95px;height:130px;margin-bottom:3px;}
/* 首页公共样式 */
.index_tit1 {height:30px;width:920px;text-align:right;padding:23px 30px 0;}
.index_l_1 {width:278px;float:left;overflow:hidden;}
.index_l_1_1 {margin:15px 0 0 90px;height:65px;overflow:hidden;text-align:left;}
.index_l_1_1 li {float:left;}
.index_r_1 {width:688px;float:right;overflow:hidden;}
/* 首页焦点图样式*/
#Slide {CLEAR:both;width:268px;height:220px;}
#Slide a {COLOR:#222;}
.jdpic1 {filter:RevealTrans(duration=1;ransition=12);visibility:visible;POSITION:absolute;width:268px;height:200px}
.thumb_title {margin:205px 0px 0px 0px;width:268px;text-indent:10px;line-height:20px;POSITION:absolute;height:22px;-moz-opacity:0.3;font-size:14px;text-align:center;}
#Slide_Thumb {margin-top:140px;margin-left:20px;POSITION:absolute;}
.thumb_on {display:inline;float:left;margin-left:5px;cursor:pointer;}
.thumb_off {display:inline;float:left;margin-left:5px;cursor:pointer;}
.thumb_off {filter:alpha(opacity=50);-moz-opacity:0.5;}
.thumb_on {filter:alpha(opacity=100);-moz-opacity:1;}
.thumb_off img {border-right:#fff 1px solid;border-top:#fff 1px solid;border-left:#fff 1px solid;width:70px;border-BOTTOM:#fff 1px solid;height:50px;}
.thumb_on img {border-right:#fff 1px solid;border-top:#fff 1px solid;border-left:#fff 1px solid;width:70px;border-BOTTOM:#fff 1px solid;height:50px;}
/* 首页信息公开*/
#index_xxgk {height:295px;}
#index_xxgk_tit1 {background:url(index_xinxgk_tit.jpg) no-repeat;}
#index_xxgk_l {border:0;background:url(index_xinxgk_sear1.jpg);width:280px;height:242px;}
#index_xxgk_r {height:240px;}
#messtop_tit3 li a {width:228px;overflow:hidden;}
/* 首页楼盘地图*/
#index_map {height:380px;}
#index_map_tit1 {background:url(index_loupdt_tit.jpg) no-repeat;}
#index_map_l {height:325px;overflow:hidden;}
#index_map_l h1 {background:url(index_loupdt_rk1.jpg);width:277px;height:34px;margin-bottom:6px;}
#index_map_l_1 {width:185px;height:285px;float:left;}
#index_map_l_2 {width:90px;height:285px;overflow:hidden;text-align:center;font-weight:bolder;}
#index_map_l_2 li {margin-bottom:5px;float:left;}
#index_map_r {height:325px;}
#index_map_r_1 {width:397px;height:325px;float:left;}
#index_map_r_2 {width:290px;height:325px;float:right;overflow:hidden;}
#index_map_r_2 dl {margin-left:10px;width:270px;overflow:hidden;background:url(list_top1.jpg) bottom left no-repeat;}
#index_map_r_2 dl dt {margin-top:10px;border-bottom:1px solid #DDD;height:25px;font-weight:bolder}
#index_map_r_2 div {height:25px;line-height:25px;overflow:hidden;}
.map_top_0 {width:95px;float:left}
.map_top_1 {width:68px;padding-left:29px;float:left;overflow:hidden}
.map_top_2 {width:60px;float:left;text-align:center;overflow:hidden}
.map_top_3 {width:55px;float:left;text-align:center;overflow:hidden}
.map_top_4 {width:55px;color:#F00;text-align:center;overflow:hidden}
/* 首页电子政务*/
#index_dzzw {height:413px;}
#index_dzzw_tit1 {background:url(index_dianzzw_tit.jpg) no-repeat;}
#index_dzzw_l {background:url(index_dianzzw_fuwu1.jpg);width:280px;height:360px;border:0;}
#index_dzzw_l_1 {margin:50px 0 0 15px;}
#index_dzzw_r {background:url(index_dianzzw_bansdt.jpg) no-repeat;height:360px;width:690px;border:0;}
#index_dzzw_r_1 {width:397px;height:360px;float:left;overflow:hidden;margin:0;padding:0;border:0;}
#index_dzzw_r_1 dl {margin-top:60px;text-align:left;}
#index_dzzw_r_1 dl dd {width:133px;height:45px;float:left;margin:5px 0 0 55px;overflow:hidden;}
#index_dzzw_r_2 {width:290px;float:right;overflow:hidden;}
#index_dzzw_r_2 li {float:left;border:0;margin:0;padding:0;}
/* 首页住宅产业化*/
#index_zzcyh {height:325px;}
#index_zzcyh_tit1 {background:url(index_zzcyh_tit.jpg) no-repeat;}
#index_zzcyh_l {background:url(index_zzcyh_left1.jpg);width:280px;height:272px;border:0;overflow:hidden;}
#index_zzcyh_l ul li {margin-top:40px;margin-left:75px;height:28px;}
#index_zzcyh_r {height:270px;}
.index_zzcyh_r_ul1 {height:101px;background:#FAFAFA;border-right:1px #DDD solid;width:160px;float:left;overflow:hidden;}
.index_zzcyh_r_ul1 li {width:75px;height:20px;line-height:20px;margin-top:20px;float:left;text-align:center;}
.index_zzcyh_r_ul2 {height:101px;width:526px;float:left;}
.index_zzcyh_r_ul2 li {width:130px;height:80px;float:left;padding-top:8px;text-align:center;}
/* 首页广告 */
#index_adv_a1 {width:980px;height:200px;}
#index_adv_a2 {width:980px;height:100px;display:none}
#index_adv_a3 {width:980px;height:100px;display:none}
#index_adv_a4 {width:980px;height:100px;display:none}
#index_adv_a5 {width:980px;height:100px;display:none}
#index_adv_a6 {width:968px;padding:10px 0 10px 10px;text-align:center;}
#index_adv_a6 li {width:232px;height:180px;float:left;margin-right:10px;overflow:hidden;}
#index_adv_a7 {width:980px;height:100px;display:none}
#index_adv_a8 {width:980px;height:100px;display:none}
#index_adv_a9 {width:980px;height:100px;display:none}
#index_adv_a10 {width:980px;height:180px;}
/* 首页房源信息*/
#index_fy {height:330px;}
#index_fy_tit1 {background:url(index_fangyxx_tit.jpg) no-repeat;}
#index_fy_l {height:275px;overflow:hidden;}
#index_fy_l h1 {background:url(index_fangyxx_us.jpg);width:277px;height:34px;margin-bottom:6px;}
#index_fy_l h2 {background:url(index_fangyxx_sear.jpg);width:277px;height:34px;margin-bottom:6px;}
#index_fy_l_1 {width:165px;height:285px;float:left;}
#index_fy_l_2 {width:110px;float:right;height:285px;}
#index_fy_r {height:275px;}
#index_fy_r_1 {width:228px;height:275px;float:left;overflow:hidden;}
#index_fy_r_2 {width:229px;height:275px;float:left;overflow:hidden;}
#index_fy_r_3 {width:229px;height:275px;float:left;overflow:hidden;}
#index_fy_user li {padding:3px;text-align:center;}
#index_fy_sear li {width:120px;float:left;height:28px;margin-left:10px;text-align:left;}
#index_fy_sear_1 {margin-left:-10px;width:118px;}
/* 首页图片链接 */
#index_6 {padding:5px;width:968px;background:#ededed;}
#index_6 li {float:left;width:144px;height:54px;overflow:hidden;border:1px solid #DDD;padding:5px;margin:0 5px 5px 0;background:#FFF;}
/* 首页版权声明  */
#index_7 {width:978px;overflow:hidden;}
#index_7_tit1 {background:url(copy_01.jpg) no-repeat;height:41px;width:978px;}
#index_7_copy {display:none;height:112px;background:url(copy_02.jpg);width:978px;}
/* 内页 */
/* 内页左侧 */
#page_left {background:url(page_left_03.jpg) no-repeat bottom #94d1ff;width:220px;padding-bottom:200px;float:left}
.page_menu {height:342px;width:220px;overflow:hidden;padding:100px 0 10px;}
.page_menu li {background:url(tit_5.gif) no-repeat;width:192px;height:27px;line-height:27px;letter-spacing:1px;margin-bottom:5px;text-indent:2.5em;overflow:hidden;}
.page_menu1 {height:342px;width:220px;overflow:hidden;padding:100px 0 10px;}
.page_menu1 h3 {background:url(tit_5.gif) no-repeat;width:192px;height:27px;line-height:27px;letter-spacing:1px;margin-bottom:5px;text-indent:2.5em;overflow:hidden;margin-left:15px;}
.page_menu1 form {border:1px solid #EEE;margin:-5px 0 30px;background:#FFF;padding:10px 0;width:190px;margin-left:15px;overflow:hidden;}
.page_menu2 {height:342px;width:220px;overflow:hidden;padding:100px 15px 10px;}
.page_menu2 ul li {background:url(tit_5.gif) no-repeat;width:192px;height:27px;line-height:27px;letter-spacing:1px;margin-bottom:5px;text-indent:2.5em;overflow:hidden;}
.page_menu3 {width:220px;overflow:hidden;padding:100px 0 10px;}
#page_4hydh {background:no-repeat bottom #feab7e;width:220px;padding-bottom:200px;float:left}
.page_4hydh {height:342px;width:220px;overflow:hidden;padding:135px 0 10px;}
.page_4hydh li {background:url(tit_5.gif) no-repeat;width:192px;height:27px;line-height:27px;letter-spacing:0.5px;margin-bottom:40px;text-indent:2.5em;overflow:hidden;font-weight:bold;}
#menu_fagui {background:url(menu_fagui_1.jpg) no-repeat;height:220px;}
#jigou_menu {background:url(menu_jigou_1.jpg) no-repeat;}
#xypj_menu {background:url(menu_xypj_1.jpg) no-repeat;height:550px;}
#menu_chanyehua {background:url(menu_chanyehua_1.jpg) no-repeat;height:150px;}
#menu_chanyehua1 {background:url(menu_chanyehua_1.jpg) no-repeat;height:550px;}
#menu_banshi {background:url(menu_banshi_1.jpg) no-repeat;height:150px;}
#menu_kaifa {background:url(menu_kaifa_1.jpg) no-repeat;height:60px;}
#menu_xiehui {background:url(menu_xiehui_1.jpg) no-repeat;}
#menu_qxzw {background:url(menu_qxzw_1.jpg) no-repeat;height:371px;}
#menu_qiye {background:url(menu_qiye_1.jpg) no-repeat;height:370px;}
#menu_kfqz {background:url(menu_kfqz_1.jpg) no-repeat;height:450px;}
#menu_map {background:url(menu_map_1.jpg) no-repeat;height:240px;}
#menu_zixun {background:url(menu_zixun_1.jpg) no-repeat;height:120px;}
#menu_tjpp {background:url(menu_pptj_1.jpg) no-repeat;}
#menu_fangyuan {background:url(menu_fangyuan_1.jpg) no-repeat;height:90px;}
#menu_tousu {background:url(menu_tousu_1.jpg) no-repeat;height:472px;}
#menu_user {background:url(menu_user_1.jpg) no-repeat;height:360px;}
#menu_user_1 {width:170px;padding-left:10px;height:100px;}
#menu_tongzhi {background:url(menu_tongzhi_1.jpg) no-repeat;height:200px;}
#tongzhi_sear form {padding-left:17px;}
#kfqz_sear form {padding-left:17px;}
#menu_dayi {background:url(menu_dayi_1.jpg) no-repeat;height:110px;}
#menu_fxbg {background:url(menu_fxbg_1.jpg) no-repeat;height:0;}
#menu_gzyd {background:url(menu_gzyd_1.jpg) no-repeat;height:0;}
#menu_xiehui_fdcxx {background:url(menu_xiehui_1.jpg) no-repeat;}
#menu_jszx {background:url(menu_dayi_2.jpg) no-repeat;height:90px;}
#menu_4hydh {background:url(menu_4hydh.jpg) no-repeat;}
.page_left_sear {background:#FFF;border:1px solid #83b8ed;margin-left:15px;margin-top:10px;width:190px;padding-bottom:20px;text-align:left;overflow:hidden;}
.page_left_sear h1 {background:url(tit_sear1.gif);height:27px;line-height:27px;border-bottom:1px solid #83b8ed;text-indent:4em;margin-bottom:10px;}
.page_left_sear h2 {background:url(tit_sear1.gif);height:27px;line-height:27px;border-bottom:1px solid #83b8ed;text-indent:4em;}
.page_left_sear li {padding:2px 0;background:none;width:auto;height:auto;overflow:auto;}
.page_left_sear li span {display:block;width:83px;float:left;}
.page_sear1 {width:190px;text-align:left;text-indent:0;}
.page_sear1 li {padding:2px 0;clear:both;text-align:left;text-indent:0;}
.page_sear1 li span {display:block;width:83px;float:left;}
.page_sear1_1 {margin:5px 0 5px 0;border:1px solid #DDD;background:#Fafafa;width:166px;}
.page_left_kuang1 {background:#FFF;border:1px solid #83b8ed;margin-left:15px;margin-top:10px;width:190px;padding-bottom:20px;text-align:left;}
.page_left_kuang1 h1 {width:190px;background:url(bg_2.gif);height:27px;line-height:27px;border-bottom:1px solid #83b8ed;text-indent:2em;}
.page_left_kuang1 h2 {width:190px;background:url(bg_2.gif);height:27px;line-height:27px;border-top:1px solid #83b8ed;border-bottom:1px solid #83b8ed;text-indent:2em;margin-top:10px;}
.page_left_kuang1 li {background:url(po_1.gif) no-repeat center left;height:25px;line-height:25px;padding-left:20px;border-bottom:1px dashed #DDD;width:150px;margin-left:10px;}
/* 内页右侧*/
#page_right {width:750px;float:right;}
.daohang {background:url(po_f_6.jpg) no-repeat center left;height:30px;line-height:30px;padding-left:35px;margin:5px;}
.page_right_tit1 {background:url(map_1.jpg);width:750px;height:99px;}
.page_right_tit2 {background:url(tit_5.jpg) no-repeat;width:640px;height:49px;font-size:16px;font-weight:bold;padding:50px 50px 0 70px;overflow:hidden;}
.page_right_tit3 {background:url(tit_6.jpg) no-repeat;width:640px;height:49px;font-size:16px;font-weight:bold;padding:50px 50px 0 110px;overflow:hidden;}
/* 内页内容 */
#content1 {line-height:180%;}
#content1_down {clear:both;background:url(down1.jpg) center left no-repeat;height:35px;line-height:35px;margin-top:10px;border-top:1px #CCC dashed;padding:10px;font-size:14px;font-weight:bolder;padding-left:40px;}
.content_info_1 {margin:10px;line-height:180%;}
.content_info_1 li {border-bottom:1px dashed #DDD;line-height:35px;font-size:14px;}
.content_info_1 li span {float:left;background:#F2F2F2;width:140px;line-height:35px;font-size:14px;text-align:right}
.content_info_2 li {float:left;width:49.9%;height:auto;}
.content_info_3 {margin:10px;min-height:700px;font-size:14px;line-height:180%;}
.content_info_4 {margin:10px;min-height:700px;font-size:12px;line-height:180%;}
.content_info_5 {line-height:180%;}
.content_info_5 li {border-bottom:1px solid #DDD;line-height:35px;}
.content_info_5 li span {float:left;background:#F2F2F2;width:140px;line-height:35px;text-align:right;border-right:1px solid #DDD;}
.content_info_6 {margin:10px;font-size:14px;line-height:180%;}
/* 内页标题 */
.tit_inof_1 {font-size:14px;line-height:220%;font-weight:bold}
.tit_inof_2 {font-size:14px;line-height:220%;font-weight:normal}
.tit_inof_3 {font-size:12px;line-height:220%;font-weight:bold}
.tit_inof_4 {font-size:12px;line-height:220%;font-weight:normal}
.tit_inof_5 {font-size:25px;line-height:220%;font-weight:bold}
/* 内页标题 */
#messtop_tit4 ul {margin:0;padding:0}
#messtop_tit4 ul li a {width:94px;}
#messtop_tit5 {height:40px;}
#messtop_tit5 ul {height:40px;}
#messtop_tit5 ul li a {width:94px;}
/*区县电子政务 */
#qxdzzw_daohang a {display:block;float:left;width:79px;}
/*电子地图*/
#tit_map_1 {background:url(tit_map_1.jpg) no-repeat;height:46px;padding:17px 60px 0;font-size:14px;}
#tit_map_2 {background:url(tit_map_2.jpg) no-repeat;height:46px;border-top:1px solid #DDD}
#tit_map_3 {background:url(tit_map_3.jpg) no-repeat;height:46px;border-top:1px solid #DDD}
#tit_map_4 {background:url(tit_map_4.jpg) no-repeat;height:46px;border-top:1px solid #DDD}
#map_tuli {background:#f8fcff;height:32px;line-height:32px;}
#map_sear_1 {height:24px;line-height:24px;float:left;margin-left:15px;}
#map_sear_2 {height:24px;line-height:24px;float:left;margin-right:15px;}
/* 房源信息样式  */
.fy_cs_ls_1 {border-bottom:1px dashed #EEE;}
.fy_cs_ls_1 li {float:left;height:26px;line-height:26px;overflow:hidden;}
.fy_cs_ls_1_1 {width:70px;padding-left:5px;}
.fy_cs_ls_1_2 {width:50px;}
.fy_cs_ls_1_3 {width:40px;text-align:center;}
.fy_cs_ls_1_4 {width:60px;color:#F00;text-align:center;}
.fy_cs_ls_2 {border-bottom:1px dashed #EEE;}
.fy_cs_ls_2 li {float:left;height:26px;line-height:26px;overflow:hidden;}
.fy_cs_ls_2_1 {width:40px;padding-left:5px;}
.fy_cs_ls_2_2 {width:60px;}
.fy_cs_ls_2_3 {width:60px;}
.fy_cs_ls_2_4 {width:50px;color:#F00;text-align:center;}
.fy_qg_ls_1 {border-bottom:1px dashed #EEE;}
.fy_qg_ls_1 li {float:left;height:26px;line-height:26px;overflow:hidden;}
.fy_qg_ls_1_1 {width:40px;padding-left:5px;}
.fy_qg_ls_1_2 {width:60px;}
.fy_qg_ls_1_3 {width:60px;}
.fy_qg_ls_1_4 {width:50px;color:#F00;text-align:center;}
.page_left_user {background:#FFF;border:1px solid #83b8ed;margin-left:15px;margin-top:10px;width:190px;padding-bottom:20px;text-align:left;}
.page_left_user h1 {background:url(tit_sear1.gif);height:27px;line-height:27px;border-bottom:1px solid #83b8ed;text-indent:4em;margin-bottom:10px;}
.page_left_user li {clear:both;padding:2px 0;}
.page_left_user li span {display:block;width:83px;float:left;}

/*  二手房会员样式  */
#user_reg1 {background:url(user_reg1.jpg) no-repeat;width:905px;height:79px;margin:20px;}
#user_reg2 {width:905px;margin:20px;}
#user_reg3 {background:url(user_ziliao1.jpg) no-repeat;width:905px;height:79px;margin:20px;}
#user_cpass1 {background:url(user_cpass1.jpg) no-repeat;width:905px;height:79px;margin:20px;}
#user_cpass2 {width:905px;margin:20px;}
#user_login1 {background:url(user_login2.jpg) no-repeat;width:911px;height:219px;margin:20px 20px 100px;padding:43px 0 0 380px;}
#user_manage li {border-bottom:1px dashed #DDD;width:140px;padding:5px;}

/* 采购 */
#caigou_jiaodian {width:680px;height:400px;float:left;}
#caigou_login {background:url(jzcgpt3.jpg) no-repeat;float:right;width:290px;height:220px;}
#caigou_tit {margin-bottom:10px;}
#caigou_tit_0 {margin-bottom:0px;}
#caigou_tit_0 li {float:left;}
.caigou_tit {padding:5px; min-height:30px;}
.caigou_tit li {float:left;padding:10px 20px;background:url(po01.jpg) no-repeat center left;}
#caigou_tit_0 li {cursor:pointer;}
.caigou_tit {border-top:0;margin-top:-3px;}

#caigou_left{width:750px; overflow:hidden; float:left;}
#caigou_right{background:url(page_left_03.jpg) no-repeat bottom #94d1ff;width:220px;padding-bottom:200px;float:right;}


/* 底部 */
#bottom {width:1000px;margin:0 auto;text-align:left;overflow:hidden;background:#FFF;padding:10px 0;}
#bottom_logo {background:url(logo_bottom.jpg) no-repeat center;width:300px;height:80px;float:left;}
#map_bottom_logo {background:url(logo_bottom.jpg) no-repeat center;width:300px;height:60px;float:left;}
#bottom_1 {float:left;text-align:left;padding-left:20px;width:600px;line-height:16px;}
#bottom_biaoshi {text-align:left;width:100px;float:right;}
