<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.OneLinkDao">

    <resultMap id="my_one_link" type="com.scht.admin.entity.OneLink">
        <id column="f_id" property="id"/>
        <result column="f_name" property="name"/>
        <result column="f_account" property="account"/>
        <result column="f_icon" property="icon"/>
        <result column="f_status" property="status"/>
        <result column="f_agent_id" property="agentId"/>
        <result column="f_remark" property="remark"/>
        <result column="f_create_time" property="createTime"/>
        <result column="f_code" property="code"/>
        <result column="f_province_id" property="provinceId"/>
        <result column="f_province_name" property="provinceName"/>
        <result column="f_city_id" property="cityId"/>
        <result column="f_city_name" property="cityName"/>
        <result column="f_district_id" property="districtId"/>
        <result column="f_district_name" property="districtName"/>
        <result column="f_sort" property="sort"/>
        <result column="f_shop_id" property="shopId"/>
        <result column="f_sub_name" property="subName"/>
        <result column="f_url" property="url"/>
    </resultMap>
    <insert id="insert" parameterType="com.scht.admin.entity.OneLink">
        insert into t_one_link(f_sub_name,f_url,f_shop_id,f_id,f_name,f_account,f_icon,f_status,f_agent_id,f_remark,f_create_time,f_code,f_province_id,f_province_name,f_city_id,f_city_name,f_district_id,f_district_name,f_sort)
        values(#{subName},#{url},#{shopId},#{id},#{name},#{account},#{icon},#{status},#{agentId},#{remark},#{createTime},#{code},#{provinceId},#{provinceName},#{cityId},#{cityName},#{districtId},#{districtName},#{sort})
    </insert>
    <update id="update" parameterType="com.scht.admin.entity.OneLink">
        update t_one_link
        <set>
            <if test="subName!=null and subName!=''">
                f_sub_name = #{subName},
            </if>
            <if test="url!=null and url!=''">
                f_url = #{url},
            </if>
            <if test="shopId!=null and shopId!=''">
                f_shop_id = #{shopId},
            </if>
            <if test="name!=null and name!=''">
                f_name = #{name},
            </if>
            <if test="account!=null and account!=''">
                f_account = #{account},
            </if>
            <if test="icon!=null and icon!=''">
                f_icon = #{icon},
            </if>
            <if test="status!=null and status!=''">
                f_status = #{status},
            </if>
            <if test="agentId!=null and agentId!=''">
                f_agent_id = #{agentId},
            </if>
            <if test="remark!=null and remark!=''">
                f_remark = #{remark},
            </if>
            <if test="createTime!=null and createTime!=''">
                f_create_time = #{createTime},
            </if>
            <if test="code!=null and code!=''">
                f_code = #{code},
            </if>
            <if test="provinceId!=null and provinceId!=''">
                f_province_id = #{provinceId},
            </if>
            <if test="provinceName!=null and provinceName!=''">
                f_province_name = #{provinceName},
            </if>
            <if test="cityId!=null and cityId!=''">
                f_city_id = #{cityId},
            </if>
            <if test="cityName!=null and cityName!=''">
                f_city_name = #{cityName},
            </if>
            <if test="districtId!=null and districtId!=''">
                f_district_id = #{districtId},
            </if>
            <if test="districtName!=null and districtName!=''">
                f_district_name = #{districtName},
            </if>
            <if test="sort!=null and sort!=''">
                f_sort = #{sort},
            </if>
        </set>
        where f_id=#{id}
    </update>
    <select id="findById" resultMap="my_one_link">
        select * from t_one_link where f_id=#{id}
    </select>
    <select id="searchByPage" resultMap="my_one_link" parameterType="HashMap">
        SELECT * from t_one_link
        <where>
            <if test="agentId != null and agentId != ''">
                and f_agent_id=#{agentId}
            </if>
            <if test="status != null and status != ''">
                and f_status = #{status}
            </if>
            <if test="districtId != null and districtId != ''">
                and (f_district_id=#{districtId} or f_city_id=#{districtId})
            </if>
            <if test="name != null and name != ''">
                and f_name like concat('%',concat(#{name},'%'))
            </if>
            <if test="account != null and account != ''">
                and f_account like concat('%',concat(#{account},'%'))
            </if>
        </where>
        order by
        <if test="front != '' and front != null">
            f_sort asc,
        </if>
        f_create_time desc limit #{start},#{limit}
    </select>
    <select id="count4Page" resultType="int" parameterType="HashMap">
        SELECT count(f_id) from t_one_link
        <where>
            <if test="agentId != null and agentId != ''">
                and f_agent_id=#{agentId}
            </if>
            <if test="status != null and status != ''">
                and f_status = #{status}
            </if>
            <if test="districtId != null and districtId != ''">
                and (f_district_id=#{districtId} or f_city_id=#{districtId})
            </if>
            <if test="name != null and name != ''">
                and f_name like concat('%',concat(#{name},'%'))
            </if>
            <if test="account != null and account != ''">
                and f_account like concat('%',concat(#{account},'%'))
            </if>
        </where>
    </select>
    <delete id="delete" >
        DELETE  from t_one_link where f_id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>