<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.OrderProductDao">

    <resultMap id="my_order_product" type="com.scht.admin.entity.OrderProduct">
        <id column="f_id" property="id"/>
        <result column="f_order_id" property="orderId"/>
        <result column="f_product_id" property="productId"/>
        <result column="f_product_name" property="productName"/>
        <result column="f_product_image" property="productImage"/>
        <result column="f_price" property="price"/>
        <result column="f_amount" property="amount"/>
        <result column="f_money" property="money"/>
    </resultMap>
    <insert id="insert" parameterType="com.scht.admin.entity.OrderProduct">
        insert into t_order_product(f_id,f_order_id,f_product_id,f_product_name,f_product_image,f_price,f_amount,f_money)
        values  (#{id},#{orderId},#{productId},#{productName},#{productImage},#{price},#{amount},#{money})

    </insert>
    <insert id="insertBatch" parameterType="List">
        insert into t_order_product(f_id,f_order_id,f_product_id,f_product_name,f_product_image,f_price,f_amount,f_money)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.orderId},#{item.productId},#{item.productName},#{item.productImage},#{item.price},#{item.amount},#{item.money})
        </foreach>
    </insert>
    <select id="listByOrderId" resultMap="my_order_product">
        SELECT * from t_order_product where f_order_id=#{orderId}
    </select>
    <select id="listByOrderIds" resultMap="my_order_product">
        SELECT * from t_order_product where f_order_id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>
    <delete id="delete">
        DELETE from t_order_product where f_order_id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
</mapper>