<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.ProductDao">

    <resultMap id="my_product" type="com.scht.admin.entity.Product">
        <id column="f_id" property="id"/>
        <result column="f_title" property="title"/>
        <result column="f_product_type" property="productType"/>
        <result column="f_type_id" property="typeId"/>
        <result column="f_description" property="description"/>
        <result column="f_price" property="price"/>
        <result column="f_market_price" property="marketPrice"/>
        <result column="f_agent_id" property="agentId"/>
        <result column="f_images" property="images"/>
        <result column="f_stock" property="stock"/>
        <result column="f_sale_count" property="saleCount"/>
        <result column="f_virtual_count" property="virtualCount"/>
        <result column="f_comment_count" property="commentCount"/>
        <result column="f_content" property="content"/>
        <result column="f_status" property="status"/>
        <result column="f_create_time" property="createTime"/>
        <result column="f_sort" property="sort"/>
        <result column="f_self" property="self"/>
        <result column="f_shop_id" property="shopId"/>
        <result column="f_wb" property="wb"/>
        <result column="f_province_id" property="provinceId"/>
        <result column="f_province_name" property="provinceName"/>
        <result column="f_city_id" property="cityId"/>
        <result column="f_city_name" property="cityName"/>
        <result column="f_district_id" property="districtId"/>
        <result column="f_district_name" property="districtName"/>
        <result column="f_tc" property="tc"/>
        <result column="juli" property="juli"/>
        <result column="shopName" property="shopName"/>

    </resultMap>

    <resultMap id="rest_product" type="com.scht.front.bean.RestProduct">
        <id column="f_id" property="id"/>
        <result column="f_title" property="title"/>
        <result column="f_type_name" property="typeName"/>
        <result column="f_type_id" property="typeId"/>
        <result column="f_description" property="description"/>
        <result column="f_price" property="price"/>
        <result column="f_market_price" property="marketPrice"/>
        <result column="f_images" property="images"/>
        <result column="f_stock" property="stock"/>
        <result column="f_sale_count" property="saleCount"/>
        <result column="f_virtual_count" property="virtualCount"/>
        <result column="f_comment_count" property="commentCount"/>
    </resultMap>


    <insert id="insert" parameterType="com.scht.admin.entity.Product">
        insert into t_product(
        f_province_id,f_province_name,f_city_id,f_city_name,f_district_id,f_district_name,f_tc,
        f_wb,f_id,f_title,f_product_type,f_type_id,f_description,f_price,f_market_price,f_agent_id,f_images,f_stock,f_sale_count,f_virtual_count,f_comment_count,f_content,f_status,f_create_time,f_sort,f_self,f_shop_id)
        values(
        #{provinceId},#{provinceName},#{cityId},#{cityName},#{districtId},#{districtName},#{tc},
        #{wb},#{id},#{title},#{productType},#{typeId},#{description},#{price},#{marketPrice},#{agentId},#{images},#{stock},#{saleCount},#{virtualCount},#{commentCount},#{content},#{status},#{createTime},#{sort},#{self},#{shopId})
    </insert>
    <update id="update" parameterType="com.scht.admin.entity.Product">
        update t_product
        <set>
            <if test="provinceId!=null and provinceId!=''">
                f_province_id = #{provinceId},
            </if>
            <if test="provinceName!=null and provinceName!=''">
                f_province_name = #{provinceName},
            </if>
            <if test="cityId!=null and cityId!=''">
                f_city_id = #{cityId},
            </if>
            <if test="cityName!=null and cityName!=''">
                f_city_name = #{cityName},
            </if>
            <if test="districtId!=null and districtId!=''">
                f_district_id = #{districtId},
            </if>
            <if test="districtName!=null and districtName!=''">
                f_district_name = #{districtName},
            </if>
            <if test="tc != null and tc != ''">
                f_tc=#{tc},
            </if>

            <if test="title!=null and title!=''">
                f_title = #{title},
            </if>
            <if test="typeId!=null and typeId!=''">
                f_type_id = #{typeId},
            </if>
            <if test="description!=null and description!=''">
                f_description = #{description},
            </if>
            <if test="price!=null and price!=''">
                f_price = #{price},
            </if>
            <if test="marketPrice!=null and marketPrice!=''">
                f_market_price = #{marketPrice},
            </if>
            <if test="images!=null and images!=''">
                f_images = #{images},
            </if>
            <if test="stock!=null and stock!=''">
                f_stock = #{stock},
            </if>

            <if test="virtualCount!=null and virtualCount!=''">
                f_virtual_count = #{virtualCount},
            </if>

            <if test="content!=null and content!=''">
                f_content = #{content},
            </if>
            <if test="status!=null and status!=''">
                f_status = #{status},
            </if>
            <if test="createTime!=null and createTime!=''">
                f_create_time = #{createTime},
            </if>
            <if test="sort!=null and sort!=''">
                f_sort = #{sort},
            </if>
            <if test="self!=null and self!=''">
                f_self = #{self},
            </if>
            <if test="shopId!=null and shopId!=''">
                f_shop_id = #{shopId},
            </if>
        </set>
        where f_id=#{id}
    </update>
    <select id="findById" resultMap="my_product">
        select * from t_product where f_id=#{id}
    </select>
    <select id="regionList" resultMap="my_product" parameterType="HashMap">
         SELECT  p.*, t.f_name as shopName,
          round(6378.138*2*asin(sqrt(pow(sin( (t.f_lat*pi()/180-#{lat}*pi()/180)/2),2)+cos(t.f_lat*pi()/180)*cos(#{lat}*pi()/180)*
        pow(sin( (t.f_lng*pi()/180-#{lng}*pi()/180)/2),2)))*1000) as juli
          from t_product p left join t_shop t on t.f_id=p.f_shop_id
        <where>
            <choose>
                <when test='"1" == wb'>
                    and p.f_wb='1'
                </when>
                <otherwise>
                    and p.f_wb!='1'
                </otherwise>
            </choose>
            <if test="tc != null and tc != ''">
                and p.f_tc=#{tc}
            </if>
            <if test="region != null and region != ''">
                and (p.f_province_id=#{region} or p.f_city_id=#{region} or p.f_district_id=#{region})
            </if>

            <if test="type != null and type != ''">
                and p.f_product_type=#{type}
            </if>

            <if test="status != null and status != ''">
                and p.f_status =#{status}
            </if>


            <if test="front != null and front != ''">
                and (
                p.f_self='0' or ( p.f_self='1' and
                p.f_shop_id in (
                select f_id from t_shop where f_status='NORMAL'
                )
                )
                )
            </if>
        </where>
        order by
          juli asc,
        <if test="front != null and front != ''">
            p.f_sort asc,
        </if>
        p.f_create_time desc limit #{start},#{limit}
    </select>
    <select id="searchByPage" resultMap="my_product" parameterType="HashMap">
        SELECT  * from t_product
        <where>
            <choose>
                <when test='"1" == wb'>
                    and f_wb='1'
                </when>
                <otherwise>
                    and f_wb!='1'
                </otherwise>
            </choose>
            <if test="tc != null and tc != ''">
                and f_tc=#{tc}
            </if>
            <if test="region != null and region != ''">
                and (f_province_id=#{region} or f_city_id=#{region} or f_district_id=#{region})
            </if>
            <if test="title != null and title != ''">
                and f_title like "%"#{title}"%"
            </if>
            <if test="type != null and type != ''">
                and f_product_type=#{type}
            </if>
            <if test="typeId != null and typeId != ''">
                and f_type_id=#{typeId}
            </if>
            <if test="status != null and status != ''">
                and f_status =#{status}
            </if>
            <if test="agentId != null and agentId != ''">
                and f_agent_id=#{agentId}
            </if>
            <if test="shopId !=null and shopId !=''">
                <if test='shopId == "0"'>
                    and f_self='0'
                </if>
                <if test='shopId != "0"'>
                  and f_shop_id=#{shopId}
                </if>
            </if>
            <if test="front != null and front != ''">
               and (
                f_self='0' or ( f_self='1' and
                    f_shop_id in (
                     select f_id from t_shop where f_status='NORMAL'
                    )
                )
                )
            </if>
        </where>
        order by
        <if test="order != null and order != ''">
            <if test='order == "price_asc"'>
              CONVERT (f_price, DECIMAL ) asc,
            </if>
            <if test='order == "price_desc"'>
                CONVERT (f_price, DECIMAL ) desc,
            </if>
            <if test='order == "saleCount_asc"'>
                f_sale_count asc,
            </if>
            <if test='order == "saleCount_desc"'>
                f_sale_count desc,
            </if>
        </if>
        <if test="front != null and front != ''">
            f_sort asc,
        </if>
        f_create_time desc limit #{start},#{limit}
    </select>
    <select id="count4Page" resultType="int" parameterType="HashMap">
        SELECT  count(f_id) from t_product
        <where>
            <choose>
                <when test='"1" == wb'>
                    and f_wb='1'
                </when>
                <otherwise>
                    and f_wb='0'
                </otherwise>
            </choose>
            <if test="tc != null and tc != ''">
                and f_tc=#{tc}
            </if>
            <if test="region != null and region != ''">
                and (f_province_id=#{region} or f_city_id=#{region} or f_district_id=#{region})
            </if>
            <if test="title != null and title != ''">
                and f_title like "%"#{title}"%"
            </if>
            <if test="typeId != null and typeId != ''">
                and f_type_id=#{typeId}
            </if>
            <if test="type != null and type != ''">
                and f_product_type=#{type}
            </if>
            <if test="status != null and status != ''">
                and f_status =#{status}
            </if>
            <if test="agentId != null and agentId != ''">
                and f_agent_id=#{agentId}
            </if>
            <if test="shopId !=null and shopId !=''">
                <if test='shopId == "0"'>
                    and f_self='0'
                </if>
                <if test='shopId != "0"'>
                    and f_shop_id=#{shopId}
                </if>
            </if>
            <if test="front != null and front != ''">
                and (
                f_self='0' or ( f_self='1' and
                f_shop_id in (
                select f_id from t_shop where f_status='NORMAL'
                )
                )
                )
            </if>
        </where>
    </select>

    <delete id="delete">
        DELETE from t_product where f_id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <update id="updateSaleCount">
        update t_product set f_sale_count=f_sale_count + #{count} where f_id=#{id}
    </update>
    <update id="updateStock">
        update t_product set f_stock=f_stock+#{count} where f_id=#{id}
    </update>
    <update id="updateCommentCount">
        update t_product set f_comment_count=f_comment_count+#{count} where f_id=#{id}
    </update>
    <select id="listByIds" resultMap="my_product">
        select * from t_product where f_id
          IN <foreach collection="array" item="ids" open="(" separator="," close=")">
               #{ids}
              </foreach>
     </select>


    <select id="list" parameterType="HashMap" resultMap="rest_product">
      SELECT t.f_id,t.f_title,p.f_name as f_type_name,t.f_type_id,t.f_description,t.f_price,t.f_market_price,t.f_images,t.f_stock,t.f_sale_count,t.f_virtual_count,t.f_comment_count
      FROM t_product t left join t_product_type p on t.f_type_id = p.f_id
      <where>

          <if test="shopId!=null and shopId!=''">
              and t.f_shop_id = #{shopId}
          </if>
          <if test="title!=null and title!=''">
              and t.f_title like CONCAT("%",#{title},"%")
          </if>
          order by t.f_sort asc
          limit #{start},#{size}
      </where>
    </select>

    <select id="count" parameterType="HashMap" resultType="Integer">
        SELECT count(t.f_id)
        FROM t_product t left join t_product_type p on  t.f_type_id = p.f_id
        <where>

            <if test="shopId!=null and shopId!=''">
                and t.f_shop_id = #{shopId}
            </if>
            <if test="title!=null and title!=''">
                and t.f_title like CONCAT("%",#{title},"%")
            </if>
        </where>
    </select>

    <select id="searchSaleCountGroupByShopId" resultMap="my_product">
        select sum(f_sale_count) as f_sale_count, sum(f_virtual_count) as f_virtual_count,f_shop_id from t_product
where f_shop_id in
 <foreach collection="array" item="ids" open="(" separator="," close=")">
     #{ids}
         </foreach>
        group by f_shop_id
    </select>

    <select id="searchExtendProductByShopIds" resultMap="my_product">
        SELECT * from t_product where f_product_type='EXTEND' and  f_shop_id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>


</mapper>