<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.PushSetDao">

    <resultMap id="my_push_set" type="com.scht.admin.entity.PushSet">
        <id column="f_id" property="id"/>
        <result column="f_android_app_key" property="androidAppKey"/>
        <result column="f_android_master_secret" property="androidMasterSecret"/>
        <result column="f_ios_app_key" property="iosAppKey"/>
        <result column="f_ios_master_secret" property="iosMasterSecret"/>
        <result column="f_status" property="status"/>
    </resultMap>
    <insert id="insert" parameterType="com.scht.admin.entity.PushSet">
        insert into t_push_set(f_id,f_android_app_key,f_android_master_secret,f_ios_app_key,f_ios_master_secret,f_status)
        values(#{id},#{androidAppKey},#{androidMasterSecret},#{iosAppKey},#{iosMasterSecret},#{status})
    </insert>
    <update id="update" parameterType="com.scht.admin.entity.PushSet">
        update t_push_set
        <set>
            <if test="id!=null and id!=''">
                f_id = #{id},
            </if>
            <if test="androidAppKey!=null and androidAppKey!=''">
                f_android_app_key = #{androidAppKey},
            </if>
            <if test="androidMasterSecret!=null and androidMasterSecret!=''">
                f_android_master_secret = #{androidMasterSecret},
            </if>
            <if test="iosAppKey!=null and iosAppKey!=''">
                f_ios_app_key = #{iosAppKey},
            </if>
            <if test="iosMasterSecret!=null and iosMasterSecret!=''">
                f_ios_master_secret = #{iosMasterSecret},
            </if>
            <if test="status!=null and status!=''">
                f_status = #{status},
            </if>
        </set>
        where f_id=#{id}
    </update>
    <select id="findById" resultMap="my_push_set">
        select * from t_push_set
    </select>
</mapper>