<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.QuestRecordDao">

    <resultMap id="my_quest_record" type="com.scht.admin.entity.QuestRecord">
        <id column="f_id" property="id"/>
        <result column="f_member_id" property="memberId"/>
        <result column="f_quest_id" property="questId"/>
        <result column="f_quest_title" property="questTitle"/>
        <result column="f_suc" property="suc"/>
        <result column="f_create_time" property="createTime"/>
        <result column="f_suc_answer" property="sucAnswer"/>
        <result column="f_answer" property="answer"/>
        <result column="f_money" property="money"/>
        <result column="f_suc_ids" property="sucIds"/>
        <result column="f_my_ids" property="myIds"/>
        <result column="f_quest_json" property="questJson"/>
    </resultMap>
    <insert id="insert" parameterType="com.scht.admin.entity.QuestRecord">
        insert into t_quest_record(f_suc_ids,f_my_ids,f_quest_json,f_id,f_member_id,f_quest_id,f_quest_title,f_suc,f_create_time,f_suc_answer,f_answer,f_money)
        values(#{sucIds},#{myIds},#{questJson},#{id},#{memberId},#{questId},#{questTitle},#{suc},#{createTime},#{sucAnswer},#{answer},#{money})
    </insert>

    <select id="findById" resultMap="my_quest_record">
        select * from t_quest_record where f_id=#{id}
    </select>
    <select id="findAll" resultMap="my_quest_record">
        select * from t_quest_record where 1=1 order by f_create_time desc
    </select>
    <sql id="querySql">
        <where>
            <if test="memberId != null and memberId != ''">
                and f_member_id=#{memberId}
            </if>
            <if test="questId != null and questId !=''">
                and f_quest_id=#{questId}
            </if>
            <if test="questTitle != null and questTitle != ''">
                and f_quest_title like concat('%', concat(#{questTitle},'%'))
            </if>
            <if test="suc != null and suc != ''">
                and f_suc=#{suc}
            </if>
            <if test="memberAccount != null and memberAccount != ''">
                and f_member_id in (select f_id from base_member where f_account like concat('%', concat(#{memberAccount},'%')))
            </if>
        </where>
    </sql>
    <select id="searchByPage" resultMap="my_quest_record" parameterType="HashMap">
        SELECT * from t_quest_record
       <include refid="querySql"/>
        order by f_create_time desc limit #{start},#{limit}
    </select>
    <select id="count4Page" resultType="int" parameterType="HashMap">
      select count(f_id) from t_quest_record
        <include refid="querySql"/>
    </select>

    <select id="countForToday" resultType="int">
        select count(f_id) from t_quest_record where f_member_id=#{memberId}
        and f_create_time>=#{time}
    </select>
    <select id="checkMemberForQuest" resultType="long">
        select count(f_id) from t_quest_record where f_member_id=#{memberId}
        and f_quest_id=#{questId}
    </select>

</mapper>