<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.ShopTypeDao">
    <resultMap id="my_shop_type" type="com.scht.admin.entity.ShopType">
        <id column="f_id" property="id"/>
        <result column="f_name" property="name"/>
        <result column="f_key" property="key"/>
        <result column="f_sort" property="sort"/>
        <result column="f_icon" property="icon"/>
        <result column="f_status" property="status"/>
        <result column="f_parent_id" property="parentId"/>
        <result column="f_is_product" property="isProduct"/>
        <result column="f_code" property="code"/>
    </resultMap>
    <insert id="insert" parameterType="com.scht.admin.entity.ShopType">
        insert into t_shop_type(f_id,f_name,f_key,f_sort,f_icon,f_status,f_parent_id,f_is_product,f_code)
        values(#{id},#{name},#{key},#{sort},#{icon},#{status},#{parentId},#{isProduct},#{code})
    </insert>
    <update id="update" parameterType="com.scht.admin.entity.ShopType">
        update t_shop_type
        <set>
            <if test="code != null and code != ''">
                f_code=#{code},
            </if>
            <if test="name!=null and name!=''">
                f_name = #{name},
            </if>
            <if test="key!=null and key!=''">
                f_key = #{key},
            </if>
            <if test="sort!=null and sort!=''">
                f_sort = #{sort},
            </if>
            <if test="icon!=null and icon!=''">
                f_icon = #{icon},
            </if>
            <if test="status!=null and status!=''">
                f_status = #{status},
            </if>
            <if test="parentId!=null and parentId!=''">
                f_parent_id = #{parentId},
            </if>
            <if test="isProduct!=null and isProduct!=''">
                f_is_product = #{isProduct},
            </if>
        </set>
        where f_id=#{id}
    </update>
    <select id="findById" resultMap="my_shop_type">
        select * from t_shop_type where f_id=#{id} and  f_status = 'NORMAL'
    </select>

    <select id="findAll" resultMap="my_shop_type">
        select * from t_shop_type where f_parent_id!='0' AND f_status='NORMAL' AND f_parent_id in (select f_id from t_shop_type where f_status='NORMAL' AND
f_parent_id='0') order by f_sort asc
    </select>


    <select id="searchByPage" parameterType="HashMap" resultMap="my_shop_type">
        select * from t_shop_type
        <where>
            f_status = 'NORMAL'
            <if test="name != null and name != ''">
                and f_name like CONCAT("%",#{name},"%")
            </if>
            <if test="parentId!=null and parentId!=''">
                and f_parent_id = #{parentId}
            </if>
        </where>
        order by f_sort asc
        limit #{start},#{limit}
    </select>
    <select id="count4Page" parameterType="HashMap" resultType="int">
        select count(f_id) from t_shop_type
        <where>
            f_status = 'NORMAL'
            <if test="name != null and name != ''">
                and f_name like CONCAT("%",#{name},"%")
            </if>
            <if test="parentId!=null and parentId!=''">
                and f_parent_id = #{parentId}
            </if>
        </where>
    </select>
    <update id="delete" parameterType="HashMap">
       update t_shop_type set f_status='FROZEN' where f_id IN
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">#{id}</foreach>
    </update>

    <select id="listBySort" parameterType="HashMap" resultMap="my_shop_type">
        select * from t_shop_type where f_sort = #{sort} and  f_status = 'NORMAL'
    </select>

    <select id="listByKey" parameterType="HashMap" resultMap="my_shop_type">
        select * from t_shop_type where f_key = #{key} and  f_status = 'NORMAL'
    </select>

    <select id="listMap"  parameterType="HashMap" resultMap="my_shop_type">
        select * from t_shop_type where  f_status = 'NORMAL'
        <if test="parentId!=null and parentId!=''">
            and f_parent_id = #{parentId}
        </if>
        order by f_sort asc
    </select>


</mapper>