<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.ShopDao">
    <resultMap id="my_shop" type="com.scht.admin.entity.Shop">
        <id column="f_id" property="id"/>
        <result column="f_name" property="name"/>
        <result column="f_account" property="account"/>
        <result column="f_password" property="password"/>
        <result column="f_shop_type_id" property="shopTypeId"/>
        <result column="f_type" property="type"/>
        <result column="f_icon" property="icon"/>
        <result column="f_status" property="status"/>
        <result column="f_link_name" property="linkName"/>
        <result column="f_link_mobile" property="linkMobile"/>
        <result column="f_link_address" property="linkAddress"/>
        <result column="f_agent_id" property="agentId"/>
        <result column="f_remark" property="remark"/>
        <result column="f_create_time" property="createTime"/>
        <result column="f_lng" property="lng"/>
        <result column="f_lat" property="lat"/>
        <result column="f_code" property="code"/>
        <result column="f_province_id" property="provinceId"/>
        <result column="f_province_name" property="provinceName"/>
        <result column="f_city_id" property="cityId"/>
        <result column="f_city_name" property="cityName"/>
        <result column="f_district_id" property="districtId"/>
        <result column="f_district_name" property="districtName"/>
        <result column="f_per_price" property="perPrice"/>
    </resultMap>

    <resultMap id="rest_shop" type="com.scht.front.bean.RestShop">
        <id column="f_id" property="id"/>
        <result column="f_name" property="name"/>
        <result column="f_shop_type_id" property="typeId"/>
        <result column="f_type" property="type"/>
        <result column="f_icon" property="icon"/>
        <result column="f_link_name" property="linkName"/>
        <result column="f_link_mobile" property="linkMobile"/>
        <result column="f_link_address" property="linkAddress"/>
        <result column="f_shop_type_name" property="typeName"/>
        <result column="f_remark" property="remark"/>
        <result column="f_lng" property="lng"/>
        <result column="f_lat" property="lat"/>
        <result column="f_code" property="code"/>
        <result column="f_per_price" property="perPrice"/>
        <result column="juli" property="juli"/>
    </resultMap>

    <insert id="insert" parameterType="com.scht.admin.entity.Shop">
        insert into t_shop(f_per_price,f_id,f_name,f_account,f_password,f_shop_type_id,f_type,f_icon,f_status,f_link_name,f_link_mobile,f_link_address,f_agent_id,f_remark,f_create_time,f_lng,f_lat,f_code,f_province_id,
        f_province_name,f_city_id,f_city_name,f_district_id,f_district_name)
        values(#{perPrice},#{id},#{name},#{account},#{password},#{shopTypeId},#{type},#{icon},#{status},#{linkName},#{linkMobile},#{linkAddress},#{agentId},#{remark},#{createTime},#{lng},#{lat},#{code},#{provinceId},
        #{provinceName},#{cityId},#{cityName},#{districtId},#{districtName})
    </insert>
    <update id="update" parameterType="com.scht.admin.entity.Shop">
        update t_shop
        <set>

            <if test="perPrice!=null and perPrice!=''">
                f_per_price = #{perPrice},
            </if>
            <if test="name!=null and name!=''">
                f_name = #{name},
            </if>
            <if test="account!=null and account!=''">
                f_account = #{account},
            </if>
            <if test="password!=null and password!=''">
                f_password = #{password},
            </if>
            <if test="shopTypeId!=null and shopTypeId!=''">
                f_shop_type_id = #{shopTypeId},
            </if>
            <if test="type!=null and type!=''">
                f_type = #{type},
            </if>
            <if test="icon!=null and icon!=''">
                f_icon = #{icon},
            </if>
            <if test="status!=null and status!=''">
                f_status = #{status},
            </if>
            <if test="linkName!=null and linkName!=''">
                f_link_name = #{linkName},
            </if>
            <if test="linkMobile!=null and linkMobile!=''">
                f_link_mobile = #{linkMobile},
            </if>
            <if test="linkAddress!=null and linkAddress!=''">
                f_link_address = #{linkAddress},
            </if>
            <if test="agentId!=null and agentId!=''">
                f_agent_id = #{agentId},
            </if>
            <if test="remark!=null and remark!=''">
                f_remark = #{remark},
            </if>
            <if test="createTime!=null and createTime!=''">
                f_create_time = #{createTime},
            </if>
            <if test="lng!=null and lng!=''">
                f_lng = #{lng},
            </if>
            <if test="lat!=null and lat!=''">
                f_lat = #{lat},
            </if>
            <if test="code!=null and code!=''">
                f_code = #{code},
            </if>
            <if test="provinceId!=null and provinceId!=''">
                f_province_id = #{provinceId},
            </if>
            <if test="provinceName!=null and provinceName!=''">
                f_province_name = #{provinceName},
            </if>
            <if test="cityId!=null and cityId!=''">
                f_city_id = #{cityId},
            </if>
            <if test="cityName!=null and cityName!=''">
                f_city_name = #{cityName},
            </if>
            <if test="districtId!=null and districtId!=''">
                f_district_id = #{districtId},
            </if>
            <if test="districtName!=null and districtName!=''">
                f_district_name = #{districtName},
            </if>
        </set>
        where f_id=#{id}
    </update>
    <select id="findById" resultMap="my_shop">
        select * from t_shop where f_id=#{id}
    </select>

    <select id="findAll" resultMap="my_shop">
        select * from t_shop where f_type='0'
    </select>

    <select id="searchByPage" parameterType="HashMap" resultMap="my_shop">
        select * from t_shop
        <where>
            <if test="type!=null and type!=''">
                and f_type= #{type}
            </if>
            <if test="name != null and name != ''">
                and f_name like CONCAT("%",#{name},"%")
            </if>
            <if test="shopTypeId!=null and shopTypeId!=''">
                and f_shop_type_id = #{shopTypeId}
            </if>
            <if test="agentId!=null and agentId!=''">
                and f_agent_id = #{agentId}
            </if>
        </where>
        order by f_create_time desc
        limit #{start},#{limit}
    </select>
    <select id="count4Page" parameterType="HashMap" resultType="int">
        select count(f_id) from t_shop
        <where>
            <if test="type!=null and type!=''">
                and f_type= #{type}
            </if>
            <if test="name != null and name != ''">
                and f_name like CONCAT("%",#{name},"%")
            </if>
            <if test="shopTypeId!=null and shopTypeId!=''">
                and f_shop_type_id = #{shopTypeId}
            </if>
            <if test="agentId!=null and agentId!=''">
                and f_agent_id = #{agentId}
            </if>
        </where>
    </select>
    <update id="delete" parameterType="HashMap">
       update t_shop set f_status='FROZEN' where f_id IN
        <foreach collection="array" item="id" index="index" open="(" close=")" separator=",">#{id}</foreach>
    </update>

    <select id="listByAccount" parameterType="HashMap" resultMap="my_shop">
        select * from t_shop where f_account = #{account}
    </select>

    <select id="listByIds" resultMap="my_shop">
        SELECT * from t_shop where f_id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </select>
    <select id="listByName" resultMap="my_shop">
        select * from t_shop
        <where>
            f_type = '0'
          <if test="name != null and name != ''">
              and f_name like CONCAT("%",#{name},"%")
          </if>
        </where>
        order by f_create_time desc
    </select>


    <select id="countShop" parameterType="HashMap" resultType="Integer">
        select count(f_id)
        from t_shop
        <where>
            <if test="agentId!=null and agentId!=''">
                and f_agent_id = #{agentId}
            </if>
            <if test="status!=null and status!=''">
                and f_status = #{status}
            </if>
        </where>
    </select>



    <select id="list" parameterType="HashMap" resultMap="rest_shop">
        select t.f_id,t.f_name,t.f_shop_type_id,t.f_type,t.f_icon,t.f_link_name,t.f_link_mobile,t.f_link_address,
        a.f_name,t.f_remark,t.f_lng,t.f_lat,t.f_code,t.f_per_price
        from t_shop t,t_shop_type a
        <where>
            t.f_shop_type_id = a.f_id and t.f_status = 'NORMAL'
            <if test="shopTypeKey!=null and shopTypeKey!=''">
                and a.f_key = #{shopTypeKey}
            </if>
            <if test="name != null and name != ''">
                and t.f_name like CONCAT("%",#{name},"%")
            </if>
            <if test="type!=null and type!=''">
                and t.f_type = #{type}
            </if>
            <if test="code!=null and code!=''">
                and t.f_code = #{code}
            </if>
            limit #{start},#{size}
        </where>
    </select>
    <select id="juliList" resultMap="rest_shop" parameterType="HashMap">
        select t.f_id,t.f_name,t.f_shop_type_id,t.f_type,t.f_icon,t.f_link_name,t.f_link_mobile,t.f_link_address,
        a.f_name,t.f_remark,t.f_lng,t.f_lat,t.f_code,t.f_per_price,
        round(6378.138*2*asin(sqrt(pow(sin( (t.f_lat*pi()/180-#{lat}*pi()/180)/2),2)+cos(t.f_lat*pi()/180)*cos(#{lat}*pi()/180)*
        pow(sin( (t.f_lng*pi()/180-#{lng}*pi()/180)/2),2)))*1000) as juli
        from t_shop t,t_shop_type a
        <where>
            t.f_shop_type_id = a.f_id and t.f_status = 'NORMAL'
            <if test="shopTypeKey!=null and shopTypeKey!=''">
                and a.f_key = #{shopTypeKey}
            </if>
            <if test="code != null and code != ''">
                and (t.f_district_id = #{code} or t.f_city_id=#{code})
            </if>
            <if test="name != null and name != ''">
                and t.f_name like CONCAT("%",#{name},"%")
            </if>
            <if test="type!=null and type!=''">
                and t.f_type = #{type}
            </if>

        </where>
      order by juli asc,t.f_create_time desc
        limit #{start},#{limit}
    </select>

    <select id="count" parameterType="HashMap" resultType="Integer">
        select count(t.f_id)
        from t_shop t,t_shop_type a
        <where>
            t.f_shop_type_id = a.f_id and t.f_status = 'NORMAL'
            <if test="shopTypeKey!=null and shopTypeKey!=''">
                and a.f_key = #{shopTypeKey}
            </if>
            <if test="districtId != null and districtId != ''">
                 and (t.f_district_id = #{districtId} or t.f_city_id=#{districtId})
            </if>
            <if test="name != null and name != ''">
                and t.f_name like CONCAT("%",#{name},"%")
            </if>
            <if test="type!=null and type!=''">
                and t.f_type = #{type}
            </if>
            <if test="code!=null and code!=''">
                and t.f_code = #{code}
            </if>
        </where>
    </select>

</mapper>