<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scht.admin.dao.WeixinPaySetDao">

    <resultMap id="base_weixin_pay_set" type="com.scht.admin.entity.WeixinPaySet">
        <id column="f_id" property="id"/>
        <result column="f_app_id" property="appId"/>
        <result column="f_mch_no" property="mchNo"/>
        <result column="f_secret" property="secret"/>
        <result column="f_pay_key" property="payKey"/>
        <result column="f_status" property="status"/>
        <result column="f_cer_path" property="cerPath"/>
    </resultMap>
    <insert id="insert" parameterType="com.scht.admin.entity.WeixinPaySet">
        insert into base_weixin_pay_set (f_id, f_app_id,f_mch_no,f_secret,f_pay_key,f_status,f_cer_path)
        VALUES (#{id},#{appId},#{mchNo},#{secret},#{payKey},#{status},#{cerPath})
    </insert>
    <select id="findById" resultMap="base_weixin_pay_set">
        SELECT * from base_weixin_pay_set
    </select>
    <update id="update" parameterType="com.scht.admin.entity.WeixinPaySet">
        update base_weixin_pay_set set f_app_id=#{appId},f_secret=#{secret},
        f_mch_no=#{mchNo},f_pay_key=#{payKey},f_status=#{status},f_cer_path=#{cerPath} where f_id=#{id}
    </update>

</mapper>